<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="NWindConnectionString" connectionString="data source=(localdb)\mssqllocaldb;attachdbfilename=|DataDirectory|\Data\NWind.mdf;integrated security=True;connect timeout=120" providerName="System.Data.SqlClient"/>
    <add name="OlapConnectionString" connectionString="data source=http://demos.devexpress.com/Services/OLAP/msmdpump.dll;Initial catalog=Adventure Works DW Standard Edition;Cube name=Adventure Works;Query Timeout=100;Provider=MSOLAP"/>
  </connectionStrings>
</configuration>
